extends common/layout
block content
  .container
    // Page Heading/Breadcrumbs
    h1.mt-4.mb-3
      | 关于
      small xxx
    ol.breadcrumb
      li.breadcrumb-item
        a(href='index.html') 首页
      li.breadcrumb-item.active 关于
    // Intro Content
    .row
      .col-lg-6
        img.img-fluid.rounded.mb-4(src='http://placehold.it/750x450', alt='')
      .col-lg-6
        h2 关于我们
        p
          | 这是啥，描述
        p
          | 第二段
        p
          | 第三段
    // /.row
    // Team Members
    h2 团队
    .row
      .col-lg-4.mb-4
        .card.h-100.text-center
          img.card-img-top(src='http://placehold.it/750x450', alt='')
          .card-body
            h4.card-title 研发
            h6.card-subtitle.mb-2.text-muted xxx`xxx
            p.card-text
              | 这是研发
          .card-footer
            a(href='#') name@example.com
      .col-lg-4.mb-4
        .card.h-100.text-center
          img.card-img-top(src='http://placehold.it/750x450', alt='')
          .card-body
            h4.card-title 运营
            h6.card-subtitle.mb-2.text-muted xcxcvxcv
            p.card-text
              | 这是运营
          .card-footer
            a(href='#') name@example.com
      .col-lg-4.mb-4
        .card.h-100.text-center
          img.card-img-top(src='http://placehold.it/750x450', alt='')
          .card-body
            h4.card-title 这是什么
            h6.card-subtitle.mb-2.text-muted xxxxxx
            p.card-text
              | 哈哈
          .card-footer
            a(href='#') name@example.com
    // /.row
    // Our Customers
    h2 客户关系
    .row
      .col-lg-2.col-sm-4.mb-4
        img.img-fluid(src='http://placehold.it/500x300', alt='')
      .col-lg-2.col-sm-4.mb-4
        img.img-fluid(src='http://placehold.it/500x300', alt='')
      .col-lg-2.col-sm-4.mb-4
        img.img-fluid(src='http://placehold.it/500x300', alt='')
      .col-lg-2.col-sm-4.mb-4
        img.img-fluid(src='http://placehold.it/500x300', alt='')
      .col-lg-2.col-sm-4.mb-4
        img.img-fluid(src='http://placehold.it/500x300', alt='')
      .col-lg-2.col-sm-4.mb-4
        img.img-fluid(src='http://placehold.it/500x300', alt='')
    // /.row
  // /.container
