extends common/layout
block content
  // Page Content
  .container
    // Page Heading/Breadcrumbs
    h1.mt-4.mb-3
      | Blog Home Two
      small Subheading
    ol.breadcrumb
      li.breadcrumb-item
        a(href='index.html') Home
      li.breadcrumb-item.active Blog Home 2
    // Blog Post
    .card.mb-4
      .card-body
        .row
          .col-lg-6
            a(href='#')
              img.img-fluid.rounded(src='http://placehold.it/750x300', alt='')
          .col-lg-6
            h2.card-title Post Title
            p.card-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
            a.btn.btn-primary(href='#') Read More →
      .card-footer.text-muted
        | Posted on January 1, 2017 by
        a(href='#') Start Bootstrap
    // Blog Post
    .card.mb-4
      .card-body
        .row
          .col-lg-6
            a(href='#')
              img.img-fluid.rounded(src='http://placehold.it/750x300', alt='')
          .col-lg-6
            h2.card-title Post Title
            p.card-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
            a.btn.btn-primary(href='#') Read More →
      .card-footer.text-muted
        | Posted on January 1, 2017 by
        a(href='#') Start Bootstrap
    // Blog Post
    .card.mb-4
      .card-body
        .row
          .col-lg-6
            a(href='#')
              img.img-fluid.rounded(src='http://placehold.it/750x300', alt='')
          .col-lg-6
            h2.card-title Post Title
            p.card-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
            a.btn.btn-primary(href='#') Read More →
      .card-footer.text-muted
        | Posted on January 1, 2017 by
        a(href='#') Start Bootstrap
    // Blog Post
    .card.mb-4
      .card-body
        .row
          .col-lg-6
            a(href='#')
              img.img-fluid.rounded(src='http://placehold.it/750x300', alt='')
          .col-lg-6
            h2.card-title Post Title
            p.card-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
            a.btn.btn-primary(href='#') Read More →
      .card-footer.text-muted
        | Posted on January 1, 2017 by
        a(href='#') Start Bootstrap
    // Pagination
    ul.pagination.justify-content-center.mb-4
      li.page-item
        a.page-link(href='#') ← Older
      li.page-item.disabled
        a.page-link(href='#') Newer →
  // /.container
