extends common/layout
block content
  // Page Content
  .container
    // Page Heading/Breadcrumbs
    h1.mt-4.mb-3
      | 觖决方案
      small xxxxxx
    ol.breadcrumb
      li.breadcrumb-item
        a(href='index.html') 首页
      li.breadcrumb-item.active 解决方案
    // Image Header
    img.img-fluid.rounded.mb-4(src='http://placehold.it/1200x300', alt='')
    // Marketing Icons Section
    .row
      .col-lg-4.mb-4
        .card.h-100
          h4.card-header 这是方案
          .card-body
            p.card-text
              | 方案一
          .card-footer
            a.btn.btn-primary(href='#') 更多
      .col-lg-4.mb-4
        .card.h-100
          h4.card-header 这也是方案
          .card-body
            p.card-text
              | 哈哈哈哈，这也是方案
          .card-footer
            a.btn.btn-primary(href='#') 更多
      .col-lg-4.mb-4
        .card.h-100
          h4.card-header 哈哈哈哈
          .card-body
            p.card-text
              | 枯要地理功槈有 中
          .card-footer
            a.btn.btn-primary(href='#') 更多
    // /.row
  // /.container
